{% assign _label = include.label | default: "이메일 보내기" %}
<a
  href="mailto:{{ include.plain_email | encode_email }}"
  class="email-obfuscate-link"
  style="color: var(--global-theme-color); text-decoration: underline;"
>{{ _label }}</a>
